@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.layout {
  max-width: 72rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #ededed;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-3;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-3xl border-solid border-[3px] border-gray-100;
}
